doctype html 
html(lang="ko")
    head
        title #{pageTitle} | hertube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        header 
            h1=pageTitle
            nav
                ul
                    li
                        a(href="/videos/upload") Upload Video
                    li
                        a(href="/") Home
                    li
                        a(href="/search") Search
                    if loggedIn
                        li
                            a(href="/logout") Log Out 
                    else 
                        li
                            a(href="/join") Join    
                        li
                            a(href="/login") Login
        main
            if user
                span hello! #{user.username}
            block content
    include partials/footer