extends ../base

block content
    if errorMessage
        span=errorMessage
    form(method="POST")
        input(name="oldPassword", required, placeholder="Current Password", type="password")
        input(name="newPassword", required, placeholder="New Password", type="password")
        input(name="newPassword2", required, placeholder="New Password Confirm", type="password")
        input(value="Change Password", type="submit") 