extends ../base

block content
    form(method="POST")
        input(name="password", required, placeholder="Password")
        input(name="password2", required, placeholder="Check Password")
        input(value="Save", type="submit") 